<header class="header">
  <nav class="nav-content">
    <a href="" class="nav-logo">WBlog</a>
    <ul class="nav-list">
      <li class="nav-item"><a [routerLink]="['/login']" class="nav-link">Login</a></li>
      <li class="nav-item"><a [routerLink]="['/admin']" class="nav-link">Admin</a></li>
      <li class="nav-item"><a [routerLink]="['/about']" class="nav-link">About</a></li>
    </ul>
    <ul class="icon-list">
      <li class="icon-item"><i class="uil uil-facebook-f icon"></i></li>
      <li class="icon-item"><i class="uil uil-instagram icon"></i></li>
      <li class="icon-item"><i class="uil uil-twitter icon"></i></li>
    </ul>
  </nav>
</header>
